/* ------ Home Page ------ */

.cover {
    display: flex;
    margin: auto;
}

.cover:hover{
    content: url('../public/images/colored.png');
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.bioPhoto1 {
    display: flex;
    max-height: 70%;
    max-width: 70%;
    margin: auto;
    padding: 30px;

}

.navBar-container {
    margin: 30px 50px;
}

.socials {
    display: flex;
    justify-content: right;
    margin: 10px;

}

.icon {
    padding: 2px;
}

.icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

/* ------ Video Page ------  */

.videos-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 30px 50px;
  
}

.video{
    padding: 20px;
}


/* ------ Gallery Page ------ */

.carousel-container {
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    transition: scroll 0.3ms ease-in-out;
}

.carousel-photo{
    width: 50rem;
    height: 40rem;
    padding: 20px;
    border-radius: 2rem;
}


.arrowRight {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 60px;
}

.arrowLeft{
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 60px;
}

/* Releases Page */

.icons{
    padding: 4px;
}

.icons:hover {
    color:rgb(180, 22, 22);
    transform: scale(1.2)
}

.redHeart {
    color: rgb(180, 22, 22);
}

.redHeart:hover {
    transform: scale(1.2);
}

.blackHeart{
    color:black; 
}
.blackHeart:hover {
    transform: scale(1.2);
}
