.cover-container:hover {
    content: url('../public/images/colored.png');
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.bioPhoto1{
    display: flex;
    max-height: 70%;
    max-width: 70%;
    margin: auto;
    padding: 30px;

}

.button{
    background-color:red;
}